#header {
  background-color: #ffffff;
  #headerText {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 180px;
  }
  ul {
    li {
      list-style-type: none;
    }
  }
}
